<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Domain Analysis</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary mt-3" value="Submit">
        </form>
    </div>
</body>
</html>
